*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: sans-serif;
  background-color: rgb(168, 168, 168);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;
  height: 100%;
  background-color: rgb(184, 15, 105);

  margin: 0 auto;
}

.board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border: 1px solid black;
  gap: 2px;
  padding: 2px;
  background-color: yellow;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  border: 1px solid grey;
  background: lightyellow;
  cursor: pointer;
}
